
/* The code on lines 3-7 makes the background of the header black and the text of the title of the webpage white. Change this to match what you want for your website! */
header {
    background-color: #b30000;
    color: #000000;
    padding: 128px 16px;
}

img {
  width:300px;
  border:inset #707070 15px;
  margin-top:50px;
  margin-left:auto;
  margin-right:auto;
  display:block;
  padding:8px;
}

h1{
  color:#000000;
  ont-size: 50px;
  text-shadow: 6px 6px #8a0000;
}

.text{
  color: #e60026;
  font-family:fantasy ;
  font-size: 30px;
}

body{
  background-color: black;
  text-align: center;
}

a {
  font-size:35px;
  text-align: center;
}

h2 {
  color:#8f8f8f;
  font-size:40px;
}

img:hover{
  width:350px;
  border:inset #940000 15px;
}

.img{
  width:400px;
}

.img:hover{
  width:450px;
}

.container {
  display: flexbox;
  justify-content: center;
}


